:host {
  display: grid;
  grid-template-columns: [bait] 4fr
                         [name] 9fr
                         [tug] 3fr
                         [points] 3fr
                         [linetime] 4fr;
}

.app-fish-table-view__header {
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1/6;
  color: white;
  font-size: 12px;
  font-weight: bold;
  align-items: flex-end;
  white-space: nowrap;
  padding: .25rem 0;
}

.app-fish-table-view__fish-bait {
  overflow: hidden;
  grid-column: bait;
}

.app-fish-table-view__fish-name {
  grid-column: name;
}

.app-fish-table-view__fish-tug {
  text-align: center;
  grid-column: tug;
}

.app-fish-table-view__points {
  text-align: right;
  grid-column: points;
}

.app-fish-table-view__line-time {
  grid-column: linetime;
  text-align: center;
}
