:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.app-show-route__bait-views {
  display: flex;
  flex: 1 1 auto;
  background: black;
  overflow: auto;
  max-width: 100%;
}

app-bait-view {
  flex: 1 1 auto;
}

@media (orientation: portrait) {
  app-bait-view {
    flex: 0 0 auto;
  }

  .app-show-route__bait-views {
    flex-direction: column;
  }
}
