@import '../../../variables';

:host {
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent;
  min-width: 400px;

  @media (orientation: portrait) {
    min-width: unset;
    width: 100%;
  }
}

.app-bait-view__container {
  border: 2px solid #7b6e48;
}

.app-bait-view__bait-image {
  float: left;
  width: 3.25rem;
  height: 3.25rem;
  margin-right: 1rem;
}

.app-bait-view__bait-name {
  margin: 0;
}

.app-bait-view__bait-usage {
  margin: 0;
  font-size: 14px;
}

.app-bait-view__overview {
  padding: 1rem 2rem;
  background: #313131;
  color: $font-color-light;
  text-shadow: 0 0 2px black;

  &--spectral {
    background: url('/assets/ui/Cruising_Effect.png');
    background-size: cover;
  }
}
