<div class="app-bait-view__container">
  <div class="app-bait-view__overview"
       [ngClass]="{
         'app-bait-view__overview--spectral': isSpectral
       }">
    <app-item-image
        class="app-bait-view__bait-image"
        [itemName]="BaitTranslation.get(baitRecommendation.bait)"></app-item-image>
    <h1 class="app-bait-view__bait-name">{{ BaitTranslation.get(baitRecommendation.bait) }}</h1>
    <h2 class="app-bait-view__bait-usage">{{ isSpectral ? 'Spectral Bait' : 'Main Bait' }}</h2>
  </div>
  <app-fish-table-view [fishes]="baitRecommendation.fish"></app-fish-table-view>
</div>
