@import '../../../variables';

:host {
  display: flex;
  align-items: center;
  background: $table-row-even-bg;
  color: $font-color-light;
  padding: 0.25rem 2rem;
  font-size: 12px;

  &:nth-child(odd) {
    background: $table-row-odd-bg;
  }

  &.triggers-spectral:nth-child(even) {
    background: linear-gradient(0deg, rgba(74,210,222, 0.3) 0%, rgba(32,210,124, 0.3) 10%, $table-row-even-bg 50%),
    linear-gradient(90deg, rgba(74,210,222, 0.3) 0%, rgba(32,210,124, 0.3) 10%, rgba(0, 0, 0, 0) 50%);
  }

  &.triggers-spectral:nth-child(odd) {
    background: linear-gradient(45deg, rgba(74,210,222, 0.1) 0%, rgba(32,210,124, 0.1) 2%, rgba(0, 0, 0, 0) 6%),
    linear-gradient(0deg, rgba(74,210,222, 0.3) 0%, rgba(32,210,124, 0.3) 10%, $table-row-odd-bg 50%);
  }
}

.app-fish-row-view__fish-bait {
  width: 4.25rem;
  overflow: hidden;
}

.app-fish-row-view__fish-name {
  min-width: 10rem;
  font-weight: bold;
}

.app-fish-row-view__fish-tug {
  min-width: 1rem;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.app-fish-row-view__points {
  text-align: right;
  min-width: 3rem;
  margin-right: 1rem;
}
