@import '../../../variables';

:host {
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1/6;
  align-items: center;
  background: $table-row-even-bg;
  color: $font-color-light;
  padding: 0.25rem 0;
  font-size: 12px;

  &:nth-child(odd) {
    background: $table-row-odd-bg;
  }

  &.triggers-spectral:nth-child(even) {
    background: linear-gradient(0deg, rgba(74,210,222, 0.3) 0%, rgba(32,210,124, 0.3) 10%, $table-row-even-bg 50%),
    linear-gradient(90deg, rgba(74,210,222, 0.3) 0%, rgba(32,210,124, 0.3) 10%, rgba(0, 0, 0, 0) 50%);
  }

  &.triggers-spectral:nth-child(odd) {
    background: linear-gradient(45deg, rgba(74,210,222, 0.1) 0%, rgba(32,210,124, 0.1) 2%, rgba(0, 0, 0, 0) 6%),
    linear-gradient(0deg, rgba(74,210,222, 0.3) 0%, rgba(32,210,124, 0.3) 10%, $table-row-odd-bg 50%);
  }
}

.app-fish-row-view__fish-bait {
  overflow: hidden;
  grid-column: bait;
}

.app-fish-row-view__fish-name {
  font-weight: bold;
  grid-column: name;
}

.app-fish-row-view__fish-tug {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  grid-column: tug;
}

.app-fish-row-view__points {
  text-align: right;
  grid-column: points;
}

.app-fish-row-view__line-time {
  grid-column: linetime;
  text-align: center;
}
