<h1 i18n>Sailing Schedule</h1>

<div>
  <span i18n>Registration (LT)</span>
  <span i18n>Destination</span>
  <span i18n>Time Frame</span>
</div>

<ul class="app-list-of-routes__list">
  <li
      class="app-list-of-routes__route"
      *ngFor="let route of routesForToday$ | async"
      [routerLink]="['/route', route.id ]">
    <span class="app-list-of-routes__route-time">{{ formatDate(route.time) }}</span>
    <span class="app-list-of-routes__route-destination">{{ LocationTranslation.get(route.route.locations[2]) }}</span>
    <span class="app-list-of-routes__route-time-frame"></span>
  </li>
</ul>
