:host {
  display: flex;
  background: black;
  position: relative;
  align-items: stretch;
  color: white;
}

.app__main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@media
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {

  ::ng-deep html {
    font-size: 10px;
  }

}
