/* You can add global styles to this file, and also import other style files */
html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

// Gradient component for style reasons. You know. For style.
hr {
  height: 2px;
  margin: 0;
  border: 0;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
